{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "react-app"
  ],
  "rules": {
    "react/jsx-one-expression-per-line": [
      0,
      {
        "allow": "none"
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/prefer-stateless-function": [0],
    "jsx-a11y/label-has-associated-control": [0],
    "jsx-a11y/label-has-for": [0],
    "no-shadow": [0],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 100
      }
    ]
  },
  "plugins": [
    "prettier"
  ]
}