.App {
  min-height: 100vh;
  height: 100%;
}

.App .logo {
  float: left;
}

.App .logo h1 {
  color: #ffffff;
  padding-right: 60px;
}

.App .ant-layout-content {
  margin: 50px;
}

.App .ant-menu {
  line-height: 64px;
}

.App .ant-spin-spinning {
  position: absolute;
  left: 50%;
  top: 20%;
}
